In [1]:
import warnings
warnings.simplefilter('ignore')

In [2]:
import numpy as np
import pandas as pd

data = pd.read_csv('hw3-wordcount.csv')

In [3]:
time = list(set(data.time))
df = pd.DataFrame(time, columns=['time'])

In [4]:
words = ['ai','data','good','movie','spark']
for i in words:
    df[i] = 0

In [5]:
for i in range(len(df)):
    for j in words:
        tmp = data[(data.time==df.time[i])&(data.word==j)]
        if not tmp.empty:
            df[j][i] = int(tmp['count'])
df.head()

                      time  ai  data  good  movie  spark
0  2019-10-31 13:28:50 UTC  10     2    10    244     11
1  2019-10-31 13:29:50 UTC  15     1     4    209     14
2  2019-10-31 13:27:50 UTC  13     0     4    178     18
3  2019-10-31 13:30:50 UTC  37     5     9    207      8
4  2019-10-31 13:25:50 UTC   9     4     3    176     17

In [24]:
res = []
for i in range(len(df)):
    tmp = {}
    tmp['Time'] = df.time[i][11:16]
    tmp['count'] = {}
    for j in words:
        tmp['count'][j] = df[j][i]
    res.append(tmp)

In [25]:
data

[{'Time': '13:28',
  'count': {'ai': 10, 'data': 2, 'good': 10, 'movie': 244, 'spark': 11}},
 {'Time': '13:29',
  'count': {'ai': 15, 'data': 1, 'good': 4, 'movie': 209, 'spark': 14}},
 {'Time': '13:27',
  'count': {'ai': 13, 'data': 0, 'good': 4, 'movie': 178, 'spark': 18}},
 {'Time': '13:30',
  'count': {'ai': 37, 'data': 5, 'good': 9, 'movie': 207, 'spark': 8}},
 {'Time': '13:25',
  'count': {'ai': 9, 'data': 4, 'good': 3, 'movie': 176, 'spark': 17}},
 {'Time': '13:26',
  'count': {'ai': 19, 'data': 4, 'good': 8, 'movie': 226, 'spark': 14}}]