In [0]:
# Install latest version of spark. If error, check the latest and replace "spark-2.4.4"
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q https://www-us.apache.org/dist/spark/spark-2.4.4/spark-2.4.4-bin-hadoop2.7.tgz
!tar xf spark-2.4.4-bin-hadoop2.7.tgz
!pip install -q findspark
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-2.4.4-bin-hadoop2.7"
import findspark
findspark.init()

# 1. Run clustering on data.txt with c1.txt and c2.txt as initial centroids and use L1
distance as similarity measurement. Compute and plot the within-cluster cost for
each iteration. You’ll need to submit two graphs here.

In [3]:
import numpy as np
import pandas as pd

from google.colab import drive
drive.mount('/content/gdrive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/gdrive

In [0]:
#The entry point to using Spark SQL is an object called SparkSession. 
#It initiates a Spark Application which all the code for that Session will run on.
from pyspark.sql import SparkSession
spark = SparkSession.builder \
    .master("local[*]") \
    .appName("Learning_Spark") \
    .getOrCreate()

In [5]:
c1 = spark.read.option("delimiter", " ").option("header", "false").csv('/content/gdrive/My Drive/BigData/q1/c1.txt')
print(c1.count(),len(c1.columns))
#c1.show(5)
c1_pd = c1.toPandas().astype('float')
c1_pd.head()

10 58

    _c0   _c1   _c2  _c3   _c4   _c5  ...   _c52   _c53   _c54   _c55    _c56  _c57
0  0.00  0.64  0.64  0.0  0.32  0.00  ...  0.000  0.000  3.756   61.0   278.0   1.0
1  0.21  0.28  0.50  0.0  0.14  0.28  ...  0.180  0.048  5.114  101.0  1028.0   1.0
2  0.06  0.00  0.71  0.0  1.23  0.19  ...  0.184  0.010  9.821  485.0  2259.0   1.0
3  0.00  0.00  0.00  0.0  0.63  0.00  ...  0.000  0.000  3.537   40.0   191.0   1.0
4  0.00  0.00  0.00  0.0  0.63  0.00  ...  0.000  0.000  3.537   40.0   191.0   1.0

[5 rows x 58 columns]

In [6]:
c2 = spark.read.option("delimiter", " ").option("header", "false").csv('/content/gdrive/My Drive/BigData/q1/c2.txt')
print(c2.count(),len(c2.columns))
c2_pd = c2.toPandas().astype('float')
c2_pd.head()

10 58

    _c0   _c1   _c2   _c3   _c4  ...   _c53     _c54    _c55     _c56  _c57
0  0.00  0.64  0.64  0.00  0.32  ...  0.000    3.756    61.0    278.0   1.0
1  0.19  0.00  0.38  0.00  0.00  ...  0.003    2.383    21.0  15841.0   1.0
2  0.00  0.00  0.00  0.04  0.00  ...  1.998  239.571  9989.0  10062.0   1.0
3  0.29  0.04  0.04  0.00  0.14  ...  0.011   12.332  1171.0   9163.0   1.0
4  0.01  0.01  0.07  0.00  0.05  ...  0.002    2.577    82.0   5395.0   0.0

[5 rows x 58 columns]

In [7]:
data = spark.read.option("delimiter", " ").option("header", "false").csv('/content/gdrive/My Drive/BigData/q1/data.txt')
print(data.count(),len(data.columns))
data_pd = data.toPandas().astype('float')
data_pd.head()

4601 58

    _c0   _c1   _c2  _c3   _c4   _c5  ...   _c52   _c53   _c54   _c55    _c56  _c57
0  0.00  0.64  0.64  0.0  0.32  0.00  ...  0.000  0.000  3.756   61.0   278.0   1.0
1  0.21  0.28  0.50  0.0  0.14  0.28  ...  0.180  0.048  5.114  101.0  1028.0   1.0
2  0.06  0.00  0.71  0.0  1.23  0.19  ...  0.184  0.010  9.821  485.0  2259.0   1.0
3  0.00  0.00  0.00  0.0  0.63  0.00  ...  0.000  0.000  3.537   40.0   191.0   1.0
4  0.00  0.00  0.00  0.0  0.63  0.00  ...  0.000  0.000  3.537   40.0   191.0   1.0

[5 rows x 58 columns]

In [0]:
def kMeans(initial, norm, k, max_iter):
  for _ in range(max_iter):
    for point in

In [11]:
npoint, ndim = np.shape(data_pd)

(4601, 58)

In [0]:
k = 10
max_iter = 20
norm = 'L1'
centroids = c1_pd

def distance(pointA, pointB, norm):
  dist = 0
  if norm == 'L1':
    dist = sum(abs(pointA.sub(pointB, fill_value=0)))
  elif norm == 'L2':
    dist = sum(pointA.sub(pointB, fill_value=0)**2)

def find

for _ in range(max_iter):
  # transform each point into

In [10]:
sum(abs(data_pd.iloc[2].sub(data_pd.iloc[3], fill_value=0)))

2529.883

In [15]:
sum(data_pd.iloc[2].sub(data_pd.iloc[3], fill_value=0)**2)

4474699.052969

In [14]:
data_pd.iloc[2].sub(data_pd.iloc[3], fill_value=0)**2, data_pd.iloc[2].sub(data_pd.iloc[3], fill_value=0)

(_c0     3.600000e-03
 _c1     0.000000e+00
 _c2     5.041000e-01
 _c3     0.000000e+00
 _c4     3.600000e-01
 _c5     3.610000e-02
 _c6     1.440000e-02
 _c7     2.601000e-01
 _c8     1.089000e-01
 _c9     1.444000e-01
 _c10    4.900000e-03
 _c11    1.960000e-02
 _c12    3.610000e-02
 _c13    0.000000e+00
 _c14    3.062500e+00
 _c15    6.250000e-02
 _c16    3.600000e-03
 _c17    1.060900e+00
 _c18    3.312400e+00
 _c19    1.024000e-01
 _c20    4.000000e-02
 _c21    0.000000e+00
 _c22    1.345600e+00
 _c23    3.600000e-03
 _c24    0.000000e+00
 _c25    0.000000e+00
 _c26    0.000000e+00
 _c27    0.000000e+00
 _c28    0.000000e+00
 _c29    0.000000e+00
 _c30    0.000000e+00
 _c31    0.000000e+00
 _c32    0.000000e+00
 _c33    0.000000e+00
 _c34    0.000000e+00
 _c35    0.000000e+00
 _c36    0.000000e+00
 _c37    0.000000e+00
 _c38    0.000000e+00
 _c39    3.600000e-03
 _c40    0.000000e+00
 _c41    0.000000e+00
 _c42    1.440000e-02
 _c43    0.000000e+00
 _c44    3.600000e-03
 _c45    3.600000e-03
 _c46    0.000000e+00
 _c47    0.000000e+00
 _c48    1.000000e-04
 _c49    3.600000e-05
 _c50    0.000000e+00
 _c51    1.932100e-02
 _c52    3.385600e-02
 _c53    1.000000e-04
 _c54    3.948866e+01
 _c55    1.980250e+05
 _c56    4.276624e+06
 _c57    0.000000e+00
 dtype: float64, _c0        0.060
 _c1        0.000
 _c2        0.710
 _c3        0.000
 _c4        0.600
 _c5        0.190
 _c6       -0.120
 _c7       -0.510
 _c8        0.330
 _c9       -0.380
 _c10       0.070
 _c11       0.140
 _c12      -0.190
 _c13       0.000
 _c14       1.750
 _c15      -0.250
 _c16       0.060
 _c17       1.030
 _c18      -1.820
 _c19       0.320
 _c20       0.200
 _c21       0.000
 _c22       1.160
 _c23       0.060
 _c24       0.000
 _c25       0.000
 _c26       0.000
 _c27       0.000
 _c28       0.000
 _c29       0.000
 _c30       0.000
 _c31       0.000
 _c32       0.000
 _c33       0.000
 _c34       0.000
 _c35       0.000
 _c36       0.000
 _c37       0.000
 _c38       0.000
 _c39       0.060
 _c40       0.000
 _c41       0.000
 _c42       0.120
 _c43       0.000
 _c44       0.060
 _c45       0.060
 _c46       0.000
 _c47       0.000
 _c48       0.010
 _c49       0.006
 _c50       0.000
 _c51       0.139
 _c52       0.184
 _c53       0.010
 _c54       6.284
 _c55     445.000
 _c56    2068.000
 _c57       0.000
 dtype: float64)

# 2. Run clustering on data.txt with c1.txt and c2.txt as initial centroids and use L2
distance as similarity measurement. Compute and plot the within-cluster cost for
each iteration. You’ll need to submit two graphs here.

# 3. T-SNE is a dimensionality reduction method particularly suitable for visualization
of high-dimensional data. Visualize your clustering assignment result of (2) by
reducing the dimension to a 2D space. You’ll need to submit two graphs here.

# 4. For L2 and L1 distance, are random initialization of K-means using c1.txt better
than initialization using c2.txt in terms of cost? Explain your reasoning.