## Q2. BigQuery of NYC Bike

In [1]:
import numpy as np
import nltk
import pandas as pd

from google.colab import drive
drive.mount('/content/gdrive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/gdrive

In [2]:
data = pd.read_csv('/content/gdrive/My Drive/BigData/data_citibike_stations.csv',encoding = "ISO-8859-1")
data.head()

   station_id  ...        last_reported
0         382  ...  1970-01-01 00:00:00
1        3338  ...  1970-01-01 00:00:00
2        3512  ...  1970-01-01 00:00:00
3        3709  ...  1970-01-01 00:00:00
4        3584  ...  2019-09-01 00:00:00

[5 rows x 18 columns]

In [13]:
data.dtypes

station_id                     int64
name                          object
short_name                    object
latitude                     float64
longitude                    float64
region_id                      int64
rental_methods                object
capacity                       int64
eightd_has_key_dispenser        bool
num_bikes_available            int64
num_bikes_disabled             int64
num_docks_available            int64
num_docks_disabled             int64
is_installed                    bool
is_renting                      bool
is_returning                    bool
eightd_has_available_keys       bool
last_reported                 object
dtype: object

In [3]:
data.nunique()

station_id                   843
name                         843
short_name                   843
latitude                     842
longitude                    843
region_id                      2
rental_methods                 1
capacity                      62
eightd_has_key_dispenser       2
num_bikes_available           52
num_bikes_disabled             7
num_docks_available           61
num_docks_disabled             6
is_installed                   2
is_renting                     2
is_returning                   2
eightd_has_available_keys      2
last_reported                  6
dtype: int64

In [6]:
data = data.sort_values(by=['capacity'], ascending=False)
data.head()

     station_id  ...        last_reported
842         445  ...  2019-09-02 00:00:00
715         422  ...  2019-09-02 00:00:00
756         501  ...  2019-09-02 00:00:00
632         482  ...  2019-09-02 00:00:00
482         470  ...  2019-09-02 00:00:00

[5 rows x 18 columns]

In [16]:
data[data.region_id==70].num_bikes_available.count()

51

In [17]:
data[data.region_id==70].num_bikes_available.sum()

394

## Q3

In [17]:
import numpy as np
def load(fname):
  # Load the file using std open
  f = open(fname, 'r')
  text = f.read().replace('\n', '')
  text = text.split()
    
  f.close()
  return text

txt = load('/content/gdrive/My Drive/BigData/shakes.txt')
txt[:10]

['***The',
 'Project',
 "Gutenberg's",
 'Etext',
 'of',
 "Shakespeare's",
 'First',
 'Folio***********************The',
 'Tragedie',
 'of']

In [19]:
from collections import Counter
Counter(txt).most_common(5)

[('the', 604), ('and', 409), ('of', 389), ('to', 359), ('I', 263)]

In [0]:
import nltk